*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#03142b;
font-family:'Oswald',sans-serif;
color:white;
padding:25px;
}

.container{
max-width:1700px;
margin:auto;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

.logo-area{
display:flex;
gap:20px;
align-items:center;
}

.cup{
font-size:70px;
}

h1{
font-size:58px;
font-weight:700;
}

h1 span{
color:#a5ff00;
}

.logo-area p{
letter-spacing:3px;
font-size:20px;
}

.upload-card{
border:1px solid rgba(255,255,255,.2);
padding:20px;
border-radius:15px;
background:#071c37;
}

#excelFile{
margin-bottom:10px;
}

.played{
text-align:center;
}

#playedValue{
font-size:30px;
font-weight:bold;
color:#a5ff00;
}

#playedPercent{
font-size:18px;
}

.main-grid{
display:grid;
grid-template-columns:500px 1fr;
gap:25px;
}

.ranking-card,
.chart-card,
.matches-card{
background:#041327;
border:1px solid rgba(255,255,255,.15);
border-radius:20px;
padding:20px;
}

h2{
margin-bottom:20px;
font-size:30px;
}

table{
width:100%;
border-collapse:collapse;
}

th{
padding:12px;
text-align:left;
border-bottom:1px solid rgba(255,255,255,.15);
}

td{
padding:12px;
border-bottom:1px solid rgba(255,255,255,.08);
}

.position1{
background:rgba(165,255,0,.1);
border:2px solid #a5ff00;
}

.chart-wrapper{
height:700px;
}

.matches-card{
margin-top:25px;
}

.matches-card table{
font-size:14px;
}

tbody tr:hover{
background:rgba(255,255,255,.05);
}

@media(max-width:1200px){

.main-grid{
grid-template-columns:1fr;
}

.chart-wrapper{
height:500px;
}

header{
flex-direction:column;
gap:20px;
align-items:flex-start;
}

}